@model IEnumerable<Product>
@{
    ViewData["Title"] = "Filter";
}
<style>
    .percent {
        background: #cd2228;
        border-radius: 6%;
        text-align: center;
        padding-top: 0.5em;
        color: white;
        text-align: center;
        padding: 10px;
        height: 50px;
    }
</style>


<div class="container product-filter mt-4">

    <div class="d-flex flex-wrap mb-4">

        <div class="col-12 col-lg-3">
            <div class="filter-bar ">
                <div class="">
                    <h5>Qiymeti</h5>
                </div>
                <div id="slider-range"></div>
                <p class="">
                    <label for="amount">Price range:</label>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div class="money-filter">
                    <button class="btn btn-dark ">Filter</button>
                </div>

            </div>

            <div class="mt-5 checkboxs">
                <h5>ISTEHSALCI</h5>
                <ul id="manufacturer_filter-orig-data">

                    @foreach (var item in ViewBag.Istehsalci)
                    {
                        <li class="attr-filter">
                            <a href="#" class="filter-link">
                                <input type="checkbox" onclick="this.parentNode.click();">
                                <label>@item</label>
                            </a>
                        </li>
                    }

                </ul>

            </div>

            @*@foreach (var item in ViewBag.Filter)
                {
                    <div class="mt-5 checkboxs">
                        <h5>@item</h5>
                        <ul id="manufacturer_filter-orig-data">

                            <li class="attr-filter">
                                <a href="#" class="filter-link">
                                    <input type="checkbox" onclick="this.parentNode.click();">
                                    <label></label>
                                </a>
                            </li>

                        </ul>
                    </div>
                }*@



        </div>



        <div class="col-12 col-lg-9">
            @foreach (var item in ViewBag.Name)
            {
                <h4>@item</h4>
                break;
            }

            <img src="/Images/Banner_Laptop_AZ.jpg" alt="">

            <div class="filter-icon mt-3">


                <ul class="d-flex justify-content-around">
                    <li>Lowest price <i class="fa fa-sort-amount-down-alt"></i></li>
                    <li>Highest price <i class="fa fa-sort-amount-down"></i></li>
                </ul>

            </div>


            <div class="d-flex flex-wrap">
                @foreach (var item in Model)
                {
                    <div class="card col-12 col-md-4 col-lg-4 mb-4" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/@item.MainImg " alt="Card image cap">
                        <div class="card-body">
                            <a href="@Url.Action("GetProduct","Product",new { id=item.Id})"><h5 class="card-title">@item.Name</h5></a>
                            <div class="d-flex justify-content-between ">
                                <div class="percent">
                                    @item.Discount
                                </div>
                                <div>
                                    <del class="text-muted">@item.SalePrice  </del>
                                    <p class="font-weight-bold">@item.Price $</p>
                                </div>
                            </div>

                        </div>
                    </div>
                }




            </div>

        </div>


    </div>



</div>

<script>

    let div = document.getElementsByClassName("percent");

    for (let i = 0; i < div.length; i++) {
        if (div[i].innerText == "") {
            div[i].style.width = 0;
            div[i].style.height = 0;
            div[i].classList.add("p-0");
        }
    }

</script>


<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 5000,
            values: [0, 5000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>

